<!DOCTYPE html>
<html lang="en" >

<head>
        <meta charset="UTF-8">
        <meta name="description" content="Media monitoring service for the ministry of Railways">
        <meta name="keywords" content="Media, Sentiment, Monitor, Railways">
        <meta name="author" content="ateamhasnoname">
        <title>Media Monitor</title>

        {% comment %} bootstrap linking {% endcomment %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        {% comment %} Google Fonts {% endcomment %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet"> 
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</pan></h1>
<h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank">Pablo García Fernández</a></h2>

<table class="container">
    <thead>
        <tr>
            <th><h1>#</h1></th>
            <th><h1>Date</h1></th>
            <th><h1>Headline</h1></th>
            <th><h1>Sentiment Score</h1></th>
            <th><h1>Sentiment</h1></th>
            <th><h1>Source</h1></th>
            <th><h1>Source Url</h1></th>
        </tr>
    </thead>
    <tbody>

            {% for item in news_data %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr  class="table-info">
            {% endif %}
            <td scope="row">{{ item.id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.headline }}</td>
            <td>{{ item.sentiment_score }}</td>
            <td>{{ item.sentiment }}</td>
            <td>{{ item.source }}</td>
            <td><a href="{{ item.sourceURL }}">Go To Source</td>
            </tr>
            {% endfor %}
            
     </tbody>
</table>
  
  

</body>

</html>